// colors from _settings

a {
  text-decoration: underline;
  color: $orange;

  &:visited, &:hover {
    color: $orange;
  }
}

.mail {
  box-shadow: 0px 1px 40px 0px rgba(255, 126, 0, 0.4);
}

.col {
  &--orange {
    background-color: $orange;
  }
  &--footer {
    background-color: $light-gray;
  }
}

.info {
  &__subtitle {
    font-weight: bold;
    color: $green-dark;
  }

  &__description {
    color: $medium-gray;
  }

  &__contacts {
    font-weight: bold;
    color: $black;
    text-decoration: none;

    &:visited, &:hover {
      color: $black;
    }

  }

  &--gray {
    color: $medium-gray;
  }

  &__subtext {
    font-size: 12px;
    line-height: 1.667;
  }
}

.title {
  &--green {
    color: $green-dark;
  }

  &--white {
    color: $white;
  }
}
